.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #057e36;
}

.App-link {
  color: #61dafb;
}

.App > section {
  padding: 36px 0;
  max-width: 750px;
  flex-grow: 1;
  background-color: white;
  box-shadow: 0 0 5px black;

}

form {
    max-width: 600px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

fieldset#root div.field-object {
    border: 1px solid #e5e5e5;
    padding: 1em;
    background-color: #eee;
}
